* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'open_sanslight',Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #555;
	min-width:320px;
	overflow-x: hidden;
}
input,textarea,select{
	font-family: 'open_sanslight',Arial, Helvetica, sans-serif;
}
a{
	color: #555;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
}
.hidden{
	display:none;
}
.left {
	float: left;
}
.right {
	float: right;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.mr-10 {
	margin-right: 10px;
}
button:focus {
	outline:0;
}

header {
	background: #d84f57;
	padding: 25px 0;
}
header h1 {
	float: left;
	width: 24px;
	margin-right: 25px;
}
header h1 a {
	display: block;
}
header h1 a img {
	display: block;
	width: 100%;
}
header nav ul li {
	display: inline;
}
header nav ul li a {
	color: #fff;
	padding: 0 15px;
}
header nav.user a, header nav.user i {
	color: #fff;
}
#spotlight {
	padding: 80px 0;
	background: url(../images/bg.jpg) no-repeat scroll center;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	text-align: center;
}
#spotlight h1 {
	font-size: 40px;
	font-family: 'open_sanssemibold';
	margin-bottom: 20px;
}
#spotlight .search {
	width: 80%;
	margin: 0 auto;
}
#spotlight .search {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.18);
}
#spotlight .search form div.wid {
	float: left;
	width: 33.33%;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
#spotlight .search form div.wid.loc i.icon, #spotlight .search form div.wid.date i.icon {
	color: #adadad;
	position: absolute;
	top: 12px;
	left: 5px;
}
#spotlight .search form div.wid input {
	height: 44px;
	width: 100%;
	padding-left: 30px;
}
#spotlight .search form div.wid.date {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
}
#spotlight .search form div.wid.but .button {
	display: block;
	width: 100%;
	height: 44px;
	background: #d74f57;
	color: #fff;
	font-family: 'open_sanssemibold';
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0;
}
#middle, #content {
	padding: 40px 0;
	background: #f7f7f7;
	text-align: center;
}
#middle h3 {
	font-size: 30px;
	font-family: 'open_sanssemibold';
	margin-bottom: 15px;
}
#middle ul.cards {
	width: 100%;
	margin-bottom: -2%;
}
#middle ul.cards li.card {
	width: 32%;
	margin-right: 2%;
	margin-bottom: 2%;
	background: #fff;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 1px 10px #c3c3c3;
	position: relative;
}
#middle ul.cards li.card .offer {
	width: 54px;
	height: 54px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	background: #d84f57;
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 1;
}
#middle ul.cards li.card .offer span {
	font-family: 'open_sanssemibold';
	color: #fff;
	font-size: 15px;
	display: block;
}
#middle ul.cards li.card .offer span small{
	font-family: 'open_sanslight';
	font-size: 10px;
	display: block;
}
#middle ul.cards li.card:nth-child(3n) {
	margin-right: 0;
}
#middle ul.cards li.card h4 {
	font-family: 'open_sanssemibold';
	font-size: 15px;
	color: #d84f57;
	text-transform: uppercase;

}
#middle ul.cards li.card p {
	margin: 8px 0;
	padding-bottom: 8px;
	border-bottom: 1px solid #ddd;
}
#middle ul.cards li.card .price, #middle ul.cards li.card .rating {
	width: 50%;
	margin-bottom: 10px;
}
#middle ul.cards li.card .price h6, #middle ul.cards li.card .rating h6 {
	margin-bottom: 5px;
	font-size: 12px;
	font-family: 'open_sansregular';
	color: #d84f57;
}
#middle ul.cards li.card .price i {
	margin-right: 5px;
}
#middle ul.cards li.card .price b {
	font-family: 'open_sanssemibold';
}
#middle ul.cards li.card .rating i {
	color: #ff9b05;
}
#middle ul.cards li.card a.button {
	display: block;
	padding: 15px 0;
	background: #d84f57;
	color: #fff;
	font-family: 'open_sanssemibold';
}
footer {
	padding: 25px 0;
	background: #1b2330;
}
footer p {
	text-align: center;
	color: #fff;
}

/*----------datepicker style starts here----------------*/
.datepicker-panel>ul>li.highlighted {
	background: #d84f57 !important;
}
.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover {
	color: #fff !important;
}
.datepicker-panel>ul[data-view=week]>li, .datepicker-panel>ul[data-view=week]>li:hover {
	font-weight: bold !important;
}
.datepicker-panel>ul>li[data-view="month current"], .datepicker-panel>ul>li[data-view="year current"], .datepicker-panel>ul>li[data-view="years current"] {
	font-family: 'open_sanssemibold';
}
.datepicker-panel>ul>li:hover {
	background: #d84f57 !important;
	color: #fff !important;
}
/*----------datepicker style ends here ----------------*/

.overlay{
	position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 99;
}
/* Container */
.login.container {
  max-width: 460px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
}
.login.container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.login.container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.login.container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.login.container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.login.container.active .card.alt .toggle:before {
  content: '';
}
.login.container.active .card.alt .title,
.login.container.active .card.alt .input-container,
.login.container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login.container.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.login.container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.login.container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.login.container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.login.container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.login .card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.login .card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.login .card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ed2553;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #ed2553;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.login .card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.login .card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.login .card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.login .card .input-container input:focus ~ .bar:before, .login .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.login .card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.login .card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.login .card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.login .card .input-container .bar:before, .login .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ed2553;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.login .card .input-container .bar:before {
  left: 50%;
}
.login .card .input-container .bar:after {
  right: 50%;
}
.login .card .button-container {
  margin: 0 60px;
  text-align: center;
}
.login .card .button-container input {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.login .card .button-container input:hover, .login .card .button-container input:active, .login .card .button-container input:focus {
  border-color: #ed2553;
}
.login .card .button-container input:hover span, .login .card .button-container input:active span, .login .card .button-container button:focus span {
  color: #ed2553;
}
.login .card .button-container input:active span, .login .card .button-container input:focus {
  color: #ffffff;
}
.login .card .button-container input:active:before, .login .card .button-container input:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.login .card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.login .card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login .card .footer a:hover {
  color: #bababa;
}
.login .card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.login .card.alt .toggle {
  position: relative;
  background: #ed2553;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.login .card.alt .title,
.login .card.alt .input-container,
.login .card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.login .card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.login .card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.login .card.alt .title .close:before {
  content: '\00d7';
}
.overlay .close-all {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 300px;
  display: inline;
  color: #fff;
  font-size: 58px;
  font-weight: 400;
}
.overlay .close-all:before {
  content: '\00d7';
}
.login .card.alt .input-container input {
  color: #ffffff;
}
.login .card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.login .card.alt .input-container input:focus ~ .bar:before, .login .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.login .card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.login .card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.login .card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.login .card.alt .button-container input {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.login .card.alt .button-container input {
  color: #ed2553;
}
.login .card.alt .button-container input:hover {
  background: rgba(255, 255, 255, 0.9);
}
.login .card.alt .button-container input:active:before, .login .card.alt .button-container input:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

/* Add styles to the form container */
.form-container {
  margin: 20px;
  max-width: 800px;
  padding: 16px;
  background-color: white;
  text-align: left
}
.form-container h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center
}
.form-container div label{
  font-size: 20px;
  font-weight: bold;
  
}

/* Full-width input fields */
  .form-container input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.form-container .btn {
  background-color: #d84f57;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form-container .btn:hover {
  opacity: 1;
}