{% load static %}
<!-- Mainly scripts -->
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/actions.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

{% if is_need_select_picker %}
	<!-- Select2 -->
	<script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
{% endif %}

{% if is_need_datetime_picker %}
	<!-- Data picker -->
	<script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
{% endif %}
{% if is_need_popup_box %}
	<!-- Sweet alert -->
	<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% endif %}

{% if need_form_validation %}
	<!-- Jquery Validate -->
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>
{% endif %}

{% if is_need_checkbox %}
	<!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>
{% endif %}

{% if is_need_formset %}
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
{% endif %}

{% if is_need_file_input %}
	<!-- Jasny -->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>
{% endif %}

{% if is_need_slider %}
	<!-- slick carousel-->
	<script src="{% static 'js/plugins/slick/slick.min.js' %}"></script>
{% endif %}