a,body{color:#555}a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{margin:0;padding:0;border:0;vertical-align:baseline;background:0 0;font-weight:400;text-decoration:none;outline:0}ul{list-style:none}del{text-decoration:line-through}address,article,aside,footer,header,nav,section{display:block}body{font-family:sans-serif,Helvetica,Arial;font-size:12px;min-width:320px;overflow-x:hidden;background:url(../img/small_steps.png)}input,select,textarea{font-family:Arial,Helvetica,sans-serif}.submit:hover,a:hover{filter:alpha(opacity=85);-moz-opacity:.85;-khtml-opacity:.85;opacity:.85}button::-moz-focus-inner,input:: -moz-focus-inner,input[type=submit]:: -moz-focus-inner{border:0;outline:0}p{line-height:1.6em}br.clear{clear:both;line-height:0}.right{float:right}.left{float:left}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
#container{
	background: #fff;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	-webkit-box-shadow: 5px 0 20px #888;
	box-shadow: 5px 0 20px #888;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10%;
}
#container div.bottom{
	padding: 30px 20px;
}
#container div.top{
	color: #1AB394;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0 0 20px; 
}
.blue{
	color: #2881E4 !important;
}
form{
	margin-bottom: 30px;
}
.small{
	font-size: 13px;
	text-align: left;
	margin-bottom: 10px;
	text-align: center;
}
form p.left,form p.right{
	width: 50%;
}
form p{
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
form p label.error{
	position: absolute;
	left: 0;
	bottom: -25px;
	color: #FF171D;
	text-transform: unset;
	line-height: 10px;
}
form p input{
	width: 100%;
	color: #555;
	border:none;
	background: none;
	border: 1px solid #bdbdbd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0 10px 15px;
	font-size: 13px;
	outline: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
form .submit{
	border: none;
	background: none;
	display:inline-block;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	background: #1AB394;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
	width: 100%;
}
/*responcive page style start here*/
@media all and (max-width:360px){
	#container{
		width: 250px;
	}
}
/*responcive page style end here*/
