{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="{% url 'web:index' %}" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=111 height=45 alt="Logo">
			<p>Login</p>
		</div>
		<div class="bottom">
			{% if account %}
				<p class="small">{% trans "Account successfully activated." %}</p>
				<a class="blue" href="{% url 'auth_login' %}">Login Now</a>
			{% else %}	
				<p class="message error">{% trans "Account activation failed or already activated." %}</p>	
			{% endif %}
		</div>
	</section><!--(#top > .wrapper > section#container)-->
{% endblock %}