{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Account activated {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=150 height=35 alt="Logo">
			<p>Account activated</p>
		</div>
		<div class="bottom">
			<p class="small">{% trans "Your account is now activated." %}</p>
			<a class="blue" href="{% url 'auth_login' %}">Login Now</a>
		</div>
	</section><!--(#top > .wrapper > section#container)-->
{% endblock %}