<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<title>{% block title %} {% endblock %}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'registration/css/style.css' %}" type="text/css" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
