{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Login | Audito{% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=100 alt="Logo">
			<p>Login to your account</p>
		</div>
		<div class="bottom">
			<div class="palette-Red-500 text m-b-md">	    	
				{{form.non_field_errors}}			
			</div>
			<form action="." method="post">
				{% csrf_token %}
				<p>
					<input type="text" placeholder="Username" value="{{ form.username.value|default:""}}" name="username">
					{% if form.username.errors %}
			            <span class="error">{{ form.username.errors.as_text }}</span>
			       	 {% endif %}
				</p>
				<p>
					<input name="password" placeholder="Password" value="{{ form.password.value|default:""}}" type="password">
					{% if form.password.errors %}
			            <span class="error">{{ form.password.errors.as_text }}</span>
			        {% endif %}
				</p>
				<input type="hidden" name="next" value="{{ next }}" />
				<input type="submit" value="Login" class="submit" />
			</form><!--(#login > form)-->
			<a class="right blue" href="{% url 'auth_password_reset' %}">Forgot Password ?</a>
			<br class="clear">
		</section>
	</section><!--(#top > .wrapper > #login)-->
{% endblock %}