{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Change Password {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Change Password</p>
		</div>
		<div class="bottom">
			<form action="." method="post">
				{% csrf_token %}
				<p>
					 <input name="old_password" value="{{ form.old_password.value|default:""}}" type="password" class="input-sm form-control fg-input">
					{% if form.old_password.errors %}
			            <span class="error">{{ form.old_password.errors.as_text }}</span>
			       	 {% endif %}
				</p>
				<p>
					<input name="new_password1" value="{{ form.new_password1.value|default:""}}" type="password" class="input-sm form-control fg-input">
					{% if form.new_password1.errors %}
			            <span class="error">{{ form.new_password1.errors.as_text }}</span>
			        {% endif %}
				</p>
				<p>
					<input name="new_password2" value="{{ form.new_password2.value|default:""}}" type="password" class="input-sm form-control fg-input">
					{% if form.new_password2.errors %}
			            <span class="error">{{ form.new_password2.errors.as_text }}</span>
			        {% endif %}
				</p>
				<input type="submit" value="Submit" class="submit" />
			</form><!--(#login > form)-->
		    <a class="left blue" href="{% url 'registration_register' %}">Create an account</a>
			<a class="right blue" href="{% url 'auth_password_reset' %}">Forgot Password ?</a>
			<br class="clear">
		</section>
	</section><!--(#top > .wrapper > #login)-->
{% endblock %}