{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Login</p>
		</div>
		<div class="bottom">
			<p class="small">You're successfully logged out</p>
			<a class="blue" href="{% url 'auth_login' %}">Login Now</a>
		</div>
	</section><!--(#top > .wrapper > section#container)-->
            
{% endblock %}