{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Please enter your registered email address and proceed.</p>
		</div>
		<div class="bottom">
			<form action="." method="post">
	    		{% csrf_token %} 
				<p class="small">Enter New Password</p>
				<p>
					 <input type="text" placeholder="Email" value="{{ form.email.value|default:""}}" name="email" class="form-control">
					 {% if form.email.errors %}
			            <span class="error">{{ form.email.errors.as_text }}</span>
			       	 {% endif %}
				</p>
				<input type="hidden" name="next" value="{{ next }}" />
				<input type="submit" value="Reset Password" class="submit" />
			</form><!--(#forgotpassword > form)-->
			<a class="blue" href="{% url 'auth_login' %}">Already have an Account ?</a>
		</div><!--(#top > .wrapper > #forgotpassword)-->
	</section>
</section><!--(#top > .wrapper)-->
{% endblock %}
