{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Password Reset {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Password Reset</p>
			
		</div>
		{% if validlink %}
			{% if form.errors %}
				<div class="palette-Red-500 text m-b-20">	    	
					{{form.errors.as_text}}			
				</div>
				<br />
			{% endif %}
			<form action="." method="post">
    		{% csrf_token %} 
				<p class="small">Enter New Password</p>
				<p>
					<input type="password" placeholder="Password1" name="new_password1" />
				</p>
				<p class="small">Enter Password Again</p>
				<p>
					<input type="password" placeholder="Confirm Password"  name="new_password2" />
				</p>
				<input type="hidden" name="next" value="{{ next }}" />
				<input type="submit" value="Reset Password" class="submit" />
			</form><!--(#forgotpassword > form)-->
			{% else %}
			<p class="message">{% trans "Password reset failed" %}</p>
		{% endif %}
		<a class="blue" href="login.html">Already have an Account ?</a>
	</section><!--(#top > .wrapper > #passwordresetcomplete)-->
{% endblock %}