{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Password changed {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="{% url 'web:index' %}" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Password changed</p>
		</div>
		<div class="bottom">
			<p class="small">{% trans "Password changed successfully." %} </p>
			<a class="blue" href="{% url 'auth_login' %}">{% trans "Log in now" %}</a>
		</div>
	</section><!--(#top > .wrapper > section#container)-->
            
{% endblock %}