{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Password reset {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Password reset instruction sent</p>
		</div>
		<div class="bottom">
			<p class="small">Email with password reset instructions has been sent to your inbox. If you do not receive the email in your inbox please check your "spam" or "junk" folder before writing to us.</p>
		</div>
	</section><!--(#top > .wrapper > #passwordresetcomplete)-->
{% endblock %}