{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Register | Abulze {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Please Register Here</p>
		</div>
		<div class="bottom">
			{% if form.non_field_errors %}
		    	<div class="palette-Red-500 text m-b-20">	    	
					{{form.non_field_errors}}			
				</div>
				<br />
			{% endif %}
			<form action="." method="post">
				{% csrf_token %} 
				<p>
					<input type="text" placeholder="Username" value="{{ form.username.value|default:""}}" name="username">
					 {% if form.username.errors %}
			            <span class="error">{{ form.username.errors.as_text }}</span>
			       	 {% endif %}
				</p>
				<p>
					<input name="email" placeholder="Email" value="{{ form.email.value|default:""}}" type="email" class="form-control">
					{% if form.email.errors %}
			            <span class="error">{{ form.email.errors.as_text }}</span>
			        {% endif %}
				</p>
				<p>
					<input name="password2" placeholder="Password" value="{{ form.password2.value|default:""}}" type="password" class="form-control">
					{% if form.password2.errors %}
			            <span class="error">{{ form.password2.errors.as_text }}</span>
			        {% endif %}
				</p>
				<p>
					<input name="password1" placeholder="Password Again" value="{{ form.password1.value|default:""}}" type="password" class="form-control">
					{% if form.password1.errors %}
			            <span class="error">{{ form.password1.errors.as_text }}</span>
			        {% endif %}
				</p>
				<input type="submit" value="Sign up" class="submit" />
			</form><!--(#signeup > form)-->
			<a class="blue" href="{% url 'auth_login' %}">Already have an Account ?</a>
		</div><!--(#top > .wrapper > #signeup)-->
	</section><!--(#top > .wrapper > #signeup)-->
{%  endblock %}
