{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} Registration closed {% endblock %}

{% block content %}
	<section id="container">
		<div class="top">
			<a href="" class="thumb"></a><img src="{% static 'web/images/logo-black.png' %}" width=185 height=50 alt="Logo">
			<p>Registration closed</p>
		</div>
		<div class="bottom">
			<p class="small">{% trans "Registration is currently closed." %}</p>
		</div>
	</section><!--(#top > .wrapper > section#container)-->
{% endblock %}