{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div>
        <div class="row wrapper border-bottom white-bg p-h-xs">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-5">
                    <h3>{{title}}</h3>
                </div>
                
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-7">
                            <form action="" class="form-inline">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control" name="q"> 
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5">
                            <ul class="list-unstyled list-inline text-right m-r-md m-b-none m-t-sm">
                                
                                <li class="no-margins">
                                    <a  style="font-size:15px;" class="p-xxs filter_button" title="filter" href="">
                                        <i class="fa fa-filter text-navy"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        {% if instances %}
            <div class="row">
                {% for instance in instances %}
                    <div class="col-lg-4 margin-bottom">
                        <div class="contact-box">
                        
                        <div class="col-sm-4">
                            <div class="text-center">
                            {% if instance.photo %}
                            <a href="{% url 'auditoriums:auditorium' pk=instance.pk %}">
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="{{instance.photo.url}}">
                            </a>
                            {% else %}
                            <a href="{% url 'auditoriums:auditorium' pk=instance.pk %}">
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="{% static 'img/profile.png' %}">
                            </a>
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong><a href="{% url 'auditoriums:auditorium' pk=instance.pk %}">{{instance.name}}</a></strong></h3>
                            <p><i class="fa fa-map-marker"></i> {{instance.address|truncatechars:40|default:"Unknown"}}</p>
                            <address>
                                <abbr title="Email">E:</abbr> {{instance.email|default:"Unknown"}}<br>
                                <abbr title="Phone">Ph:</abbr> {{instance.phone|default:"Unknown"}}
                            </address>
                            <div class="text-right">
                                {% if "is_superuser" or 'can_view_auditorium' in user_instance.permissionlist %}
                                <a href="{% url 'auditoriums:auditorium' pk=instance.pk %}" class="btn btn-white">
                                    <i class="fa fa-eye"></i>
                                </a>
                                {% endif %}
                                {% if "is_superuser" or 'can_modify_auditorium' in user_instance.permissionlist %}
                                <a href="{% url 'auditoriums:edit_auditorium' pk=instance.pk %}" class="btn btn-white">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                {% endif %}
                                {% if "is_superuser" or 'can_delete_auditorium' in user_instance.permissionlist %}
                                <a data-id="{{instance.pk}}" href="{% url 'auditoriums:delete_auditorium' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove run-function-after btn btn-white" data-function="change_after_delete"><i class="fa fa-trash"></i></a>
                                {% endif %}
                                
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% else %}
            {% include 'includes/not_found.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="">
        <div class="ibox">
            <div class="ibox-header p-xs">
                <h4 style="display: inline-block;">Filter <small></small></h4>
                <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="fa fa-arrow-circle-o-left"></i> Back</span>
            </div>
            
            <div class="ibox-content">
                <div class="form-group">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>
                
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}


{% block static %}
    {% load static %}
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
{% endblock %}
