{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="row wrapper border-bottom white-bg p-h-xs">
        <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-7">
                <h3>{{title}}</h3>
            </div>
            <div class="col-lg-5">
                <ul class="list-unstyled list-inline text-right m-r-md m-b-none m-t-sm">
                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="List"  href="{% url 'auditoriums:auditoriums' %}">
                            <i class="fa fa-list text-navy"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <form class="ajax reset {% if redirect %}redirect{% endif %} form" method="post" action="{{url}}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h4>Basic Details</h4>
                        </div>
                        <div class="ibox-content p-md">
                            <div class="form-group">
                                <label for="{{ form.partner.id_for_label }}" class="">
                                    {{ form.partner.label }}
                                    {% if form.partner.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.partner.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.partner.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.partner }}
                                
                                {% if form.partner.errors %}
                                    <label class="error">{{ form.partner.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.name.id_for_label }}" class="">
                                    {{ form.name.label }}
                                    {% if form.name.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.name.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.name }}
                                
                                {% if form.name.errors %}
                                    <label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">
                                    {{ form.title.label }}
                                    {% if form.title.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.title.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.title.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.title }}
                                
                                {% if form.title.errors %}
                                    <label class="error">{{ form.title.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.address.id_for_label }}">
                                    {{ form.address.label }}
                                    {% if form.address.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.address.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.address.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.address }}
                                
                                {% if form.address.errors %}
                                    <label class="error">{{ form.address.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.location.id_for_label }}" class="">
                                    {{ form.location.label }}
                                    {% if form.location.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.location.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.location.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.location }}
                                
                                {% if form.location.errors %}
                                    <label class="error">{{ form.location.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.city.id_for_label }}">
                                    {{ form.city.label }}
                                    {% if form.city.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.city.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.city.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.city }}
                                
                                {% if form.city.errors %}
                                    <label class="error">{{ form.city.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.district.id_for_label }}">
                                    {{ form.district.label }}
                                    {% if form.district.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.district.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.district.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.district }}
                                
                                {% if form.district.errors %}
                                    <label class="error">{{ form.district.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.state.id_for_label }}" class="">
                                    {{ form.state.label }}
                                    {% if form.state.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.state.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.state.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.state }}
                                
                                {% if form.state.errors %}
                                    <label class="error">{{ form.state.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.zipcode.id_for_label }}">
                                    {{ form.zipcode.label }}
                                    {% if form.zipcode.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.zipcode.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.zipcode.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.zipcode }}
                                
                                {% if form.zipcode.errors %}
                                    <label class="error">{{ form.zipcode.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.contact1.id_for_label }}">
                                    {{ form.contact1.label }}
                                    {% if form.contact1.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.contact1.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.contact1.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.contact1 }}
                                
                                {% if form.contact1.errors %}
                                    <label class="error">{{ form.contact1.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.contact2.id_for_label }}">
                                    {{ form.contact2.label }}
                                    {% if form.contact2.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.contact2.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.contact2.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.contact2 }}
                                
                                {% if form.contact2.errors %}
                                    <label class="error">{{ form.contact2.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">
                                    {{ form.email.label }}
                                    {% if form.email.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.email.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.email.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.email }}
                                
                                {% if form.email.errors %}
                                    <label class="error">{{ form.email.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.rent.id_for_label }}">
                                    {{ form.rent.label }}
                                    {% if form.rent.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.rent.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.rent.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.rent }}
                                
                                {% if form.rent.errors %}
                                    <label class="error">{{ form.rent.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group m-b-0">
                                <label for="{{ form.photo.id_for_label }}">
                                    {{ form.photo.label }}
                                    {% if form.photo.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.photo.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.photo.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                <br />

                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span><input type="file" name="photo">
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                            </div>
                                
                                {% if form.photo.errors %}
                                    <label class="error">{{ form.photo.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
               
            </div>

            <div class="m-b-md">
                <button class="btn btn-sm btn-primary" type="submit"><strong>Submit</strong></button>
            </div>
        </form>
    </div>

{% endblock %}
{% block static %}
{{form.media}}
{% endblock %}
