<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8">
		<title>Audito | Book your Venue now</title>
		<link rel="stylesheet" type="text/css" href="{% static 'web/css/fontello.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}" />
		<link href="{% static 'web/css/datepicker.min.css' %}" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'web/css/sweetalert.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'web/css/owl.carousel.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'web/css/owl.theme.default.min.css' %}" type="text/css" />

		<script src="{% static 'web/js/jquery.min.js' %}"></script>
		<script src="{% static 'web/js/datepicker.min.js' %}"></script>
		<script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'web/js/sweetalert.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'web/js/jquery.validate.min.js' %}"></script>	
		<script type="text/javascript" src="{% static 'web/js/script.js' %}"></script>
	</head>
	<body>
		<section id="top">
			<header>
				<section class="wrapper">
					<h1>
						<a href="{% url 'web:index' %}">
							<img src="{% static 'web/images/logo.png' %}" alt="Logo" />
						</a>
					</h1>
					<nav class="left">
						<ul>
							<li><a href="{% url 'web:index' %}">Home</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</nav>
					<nav class="user right">
						<i class="icon icon-user"></i>
						{% if not user or user.is_anonymous %}
						<a class="user-login" href="#"> Log In</a>
						{% else %}
						<a class="user-logout" href="{% url 'web:logout' %}"> Log Out</a>
						{% endif %}
					</nav>
					<br class="clear" />
				</section>
			</header>
			
		</section>
		{% block content %}

		{% endblock %}
		
				
			
		{% block static %}

		{% endblock %}
		{% include 'web/login.html' %}
		<footer>
			<section class="wrapper">
				<p>&copy;2019 Audto. All rights reserved.</p>
			</section>
		</footer>
		<script>
			$('.overlay').hide();
			$('.login.container').hide();
			$('[data-toggle="datepicker"]').datepicker({
				  startDate: "+0d",
				  format:'dd/mm/yyyy',
				  autoHide: 'True'
			});
			$('.datepicker').datepicker({
				  startDate: "+0d",
				  format:'dd/mm/yyyy',
				  autoHide: 'True'
			});
			
			$('[data-toggle="datepicker"]').datepicker({
				  startDate: "+0d",
				  format:'dd/mm/yyyy',
				  autoHide: 'True'
			});
			$(document).ready(function() {
				$('.overlay').hide();
				$('.login.container').show();
			});
			$('.user-login').on('click', function() {
			  $('.overlay').show();
			  $('.login.container').show();
			});
			$('.close-all').on('click', function() {
			  $('.overlay').hide();
			  $('.login.container').hide();
			});
			$('.toggle').on('click', function() {
			  $('.container').stop().addClass('active');
			  $('.container .login-card form').stop().removeClass('form');
			  $('.container .alt form').stop().addClass('form');
			});
			$('.alt .close').on('click', function() {
			  $('.container').stop().removeClass('active');
			  $('.container .login-card form').stop().addClass('form');
			  $('.container .alt form').stop().removeClass('form');
			});
		</script>
	</body>
</html>