
{% extends 'web/base.html' %}
{% block content %}
<section id="spotlight">
	<section class="wrapper">
		<h1>Book your Venue Now</h1>
		<div class="search">
			<form action="{% url 'web:index' %}" method="get">
				<div class="loc wid">
					<i class="icon icon-bank"></i><input type="text" name="slocation" placeholder="Location">
				</div>
				<div class="date wid">
					<i class="icon icon-calendar"></i><input type="text" data-toggle="datepicker" name="sdate" placeholder="Date">
				</div>
				<div class="but wid">
					<input type="submit" class=" button" value="Search Now" class="submit" />
				</div>
				<br class="clear" />
			</form>						
		</div>
	</section>
</section>
<section id="middle">
	<section class="wrapper">
		<section class="results">
			<ul class="cards left">
				{% for auditorium in auditoriums %}
				<li class="card left">
					<!-- <div class="offer">
						<span>50% <small>OFF</small></span>
					</div> -->
					<h4>{{auditorium.name}}</h4>
					<p>{{auditorium.title}}</p>
					<div class="price left">
						<h6>Price</h6>
						<i class="icon icon-diamond"></i><b>{{auditorium.rent}}</b>
					</div>
					<div class="rating right">
						<h6>Rating</h6>
						<i class="icon icon-star"></i>
						<i class="icon icon-star"></i>
						<i class="icon icon-star"></i>
						<i class="icon icon-star-empty"></i>
						<i class="icon icon-star-empty"></i>
					</div>
					<br class="clear">
					<a href="{% url 'web:single' pk=auditorium.pk %}" class="button">Book Now</a>
					
					
				</li>
				{% endfor %}
			</ul>
			<br class="clear" />
		</section>
		</section>
</section>
{% endblock %}
{% block static %}		
<script>
	$('[data-toggle="datepicker"]').datepicker({
		  startDate: "+0d",
		  format:'dd/mm/yyyy',
		  autoHide: 'True'
	});
</script>
{% endblock %}