{% load static %}
<script type="text/javascript" src="{% static 'web/js/sweetalert.min.js' %}"></script>
<section class="overlay">
	<div class="close-all"></div>
	<div class="login container">
		<div class="card"></div>
		<div class="card login-card">
			<h1 class="title">Login</h1>
			{{form.non_field_errors}}
			<form class="ajax redirect reload form" action="{% url 'web:customer_login' %}" method="post">
				{% csrf_token %}
				<div class="input-container">
					<input type="text" id="#username" name="username">
					<label for="#username">Username</label>
					{% if form.username.errors %}
						<span class="error">{{ form.username.errors.as_text }}</span>
					{% endif %}
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" id="#password" name="password">
					<label for="#password">Password</label>
					{% if form.password.errors %}
						<span class="error">{{ form.password.errors.as_text }}</span>
					{% endif %}
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<input type="submit" class=" button button1" value="Login" class="submit" />
				</div>
				<!-- <div class="footer"><a href="#">Forgot your password?</a></div> -->
			</form>
		</div>
		<div class="card alt">
			<div class="toggle icon icon-user"></i></div>
			<h1 class="title">Register
				<div class="close"></div>
			</h1>
			<form class="ajax redirect reload" action="{% url 'web:customer_registration' %}" method="post">
				{% csrf_token %} 
				<div class="input-container">
					<input type="text" id="id_username" name="username" >
					<label for="#id_username">Username</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="email" id="id_email" name="email" >
					<label for="#id_username">E-mail</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" id="id_password1" name="password1" >
					<label for="#id_password1">Password</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" id="id_password2" name="password2" >
					<label for="#id_password2">Retype password</label>
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<input type="submit" class="button button1" value="Sign Up" class="submit" />
				</div>
			</form>
		</div>
	</div>
</section>