
{% extends 'web/base.html' %}
{% block content %}
<section class="reservations">
	<h4>My Bookings</h4>
	table
</section>
{% endblock %}
{% block static %}		
<script>
	$('[data-toggle="datepicker"]').datepicker({
		  startDate: "+0d",
		  format:'dd/mm/yyyy',
		  autoHide: 'True'
	});
</script>
{% endblock %}