{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<section id="spotlight">
		<section class="wrapper">
			<h1>{{auditorium.name}}</h1>
			<p>{{auditorium.title}}</p>
			<div class="search">
			<form action="{% url 'web:check_availabilty' %}" class="ajax reset form" method="post">
				{% csrf_token %}
				<div class="date wid">
					<i class="icon icon-calendar"></i><input type="text" data-toggle="datepicker" name="sdate" placeholder="Date">
				</div>
				<div class="but wid">
					<input type="submit" class=" button" value="Check Availability" class="submit" />
				</div>
				<br class="clear" />
			</form>						
		</div>
		</section>
	</section>
	<section id="content">
		<section class="wrapper">
			<ul class="owl-carousel owl-theme">
				<li class="item">
					<img src="{% static 'web/images/g1.jpeg' %}" alt="">
				</li>
				<li class="item">
					<img src="{% static 'web/images/g1.jpeg' %}" alt="">
				</li>
				<li class="item">
					<img src="{% static 'web/images/g2.jpeg' %}" alt="">
				</li>
				<li class="item">
					<img src="{% static 'web/images/g3.jpeg' %}" alt="">
				</li>
				<li class="item">
					<img src="{% static 'web/images/g4.jpeg' %}" alt="">
				</li>
			</ul>
		</section>
		
	</section>
	<section class="basic">
		<section class="wrapper">
			<h1>Details</h1>
			<p>Address :- {{auditorium.address}}</p>
			<p>Location :- {{auditorium.location}}</p>
			<p>City :- {{auditorium.city}}</p>
			<p>District :- {{auditorium.district}}</p>
			<p>State :- {{auditorium.state}}</p>
			<p>Zipcode :- {{auditorium.zipcode}}</p>
			<p>Contact :- {{auditorium.contact1}}/{{auditorium.contact}}</p>
			<p>Email :- {{auditorium.email}}</p>
			<p>Rent :- {{auditorium.rent}}</p>
		</section>
	</section>
	{% if user_logined %}
		{% if current_role == 'customer' %}
			<a href="{% url 'web:book_now' pk=auditorium.pk %}" class="button">Book Now</a>
		{% endif %}
	{% else %}
	<a href="#" class="button user-login">Book Now</a>
	{% endif %}
{% endblock %}
{% block static %}		
<script>
	$(document).ready(function(){
	  	$(".owl-carousel").owlCarousel({
	  		loop:true,
			margin:10,
			autoplay:true,
			dots:false
	  	});
	});
</script>
{% endblock %}		
				