<li>
    <a href="{% url 'dashboard' %}"><i class="fa fa-area-chart"></i> <span class="nav-label"><b>DashBoard</b> </span></a>
</li>


{% if user in super_users  or 'can_manage_customer_badge_offer' in user_instance.permissionlist %}
<li>
    <a href=""><i class="fa fa-tags"></i> <span class="nav-label">Auditoriums</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        
        <li>
            <a href="{% url 'auditoriums:create_auditorium' %}">Create</a>
        </li>
        <li>
            <a href="{% url 'auditoriums:auditoriums' %}">List</a>
        </li>
    </ul>
</li>
<li>
    <a href=""><i class="fa fa-tags"></i> <span class="nav-label">Partners</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        
        <li>
            <a href="{% url 'partners:create_partner' %}">Create</a>
        </li>
        <li>
            <a href="{% url 'partners:partners' %}">List</a>
        </li>
    </ul>
</li>
<li>
    <a href=""><i class="fa fa-tags"></i> <span class="nav-label">Bookings</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        
        <li>
            <a href="{% url 'reservations:create_reservation' %}">Create</a>
        </li>
        <li>
            <a href="{% url 'reservations:reservations' %}">List</a>
        </li>
    </ul>
</li>
{% endif %}

