{% load static %}
<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="">
        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        <li>
            <div class="dropdown-messages-box">
                <a href="" class="pull-left">
                    <img alt="image" class="img-circle" src="{% static 'img/a7.jpg' %}">
                </a>
                <div class="media-body">
                    <small class="pull-right">46h ago</small>
                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                </div>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div class="dropdown-messages-box">
                <a href="" class="pull-left">
                    <img alt="image" class="img-circle" src="{% static 'img/a4.jpg' %}">
                </a>
                <div class="media-body ">
                    <small class="pull-right text-navy">5h ago</small>
                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                </div>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div class="dropdown-messages-box">
                <a href="" class="pull-left">
                    <img alt="image" class="img-circle" src="{% static 'img/profile.jpg' %}">
                </a>
                <div class="media-body ">
                    <small class="pull-right">23h ago</small>
                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                </div>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div class="text-center link-block">
                <a href="">
                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                </a>
            </div>
        </li>
    </ul>
</li>