{% load humanize %}
{% load tz %}

<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="">
        <i class="fa fa-bell"></i>  <span class="label label-primary">{{notification_count}}</span>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> You have {{notification_count}} notifications
                </div>
            </a>
        </li>
        <li class="divider"></li>
        {% for notification in recent_notifications %}
            <li>

                {% if notification.subject.code == "cash_on_delivary_order" %}
                    <a href="{% url 'sales:order' pk=notification.order.pk %}">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Cash on delivery order ({{notification.order.order_id}}) placed.
                            <span class="pull-right text-muted small">{{notification.time|timezone:user_time_zone|naturaltime}}</span>
                        </div>
                    </a>
                {% elif notification.subject.code == "order_status_updated" %}
                    <a href="{% url 'sales:order' pk=notification.order.pk %}">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> Order({{notification.order.order_id}}) status updated to {{notification.order_status}}                  
                            <span class="pull-right text-muted small">{{notification.time|timezone:user_time_zone|naturaltime}}</span>
                        </div>
                    </a>
                {% elif notification.subject.code == "product_unverified" %}
                    <a href="{% url 'products:product' pk=notification.product.pk %}">
                        <div>
                            <i class="fa fa-chain-broken fa-fw"></i> Product {{notification.product.name}} Unverified.                   
                            <span class="pull-right text-muted small">{{notification.time|timezone:user_time_zone|naturaltime}}</span>
                        </div>
                    </a>
                {% elif notification.subject.code == "product_verified" %}
                    <a href="{% url 'products:product' pk=notification.product.pk %}">
                        <div>
                            <i class="fa fa-check fa-fw"></i> Product {{notification.product.name}} Verified.                    
                            <span class="pull-right text-muted small">{{notification.time|timezone:user_time_zone|naturaltime}}</span>
                        </div>
                    </a>
                {% endif %}
            </li>
            <li class="divider"></li>
        {% endfor %}
        <li>
            <div class="text-center link-block">
                <a href="">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
</li>