<div class="shortcuts">
	<button class="btn palette-Light-Blue btn-icon bg waves-effect waves-circle waves-float">
		<i class="zmdi zmdi-plus"></i>
	</button>
	
	<div class="icons icons text-right">
		<a href="" class="btn palette-Blue bg btn-icon-text waves-effect">Purchase<i class="zmdi zmdi-shopping-cart"></i></a>
		<br />
		<a href="" class="btn palette-Indigo bg btn-icon-text waves-effect">Vendor <i class="zmdi m-l-10 zmdi-view-list"></i></a>
		<br />
		<a href="{% url 'customers:customers' %}" class="btn btn-warning bg btn-icon-text waves-effect">Customer <i class="palette-Purple bg zmdi zmdi-accounts-alt"></i></a>
		<br />
		<a href="{% url 'products:products' %}" class="btn palette-Teal bg btn-icon-text waves-effect">Product <i class="zmdi m-l-10 zmdi-view-comfy"></i></a>
		<br />
		<a href="" class="btn btn-info bg btn-icon-text waves-effect">Sale <i class="zmdi zmdi-city-alt"></i></a>
		<br />
		<a href="" class="btn palette-Red bg btn-icon-text waves-effect">Task <i class="zmdi m-l-10 zmdi-view-list"></i></a>
		<br />
		<a href="" class="btn palette-Pink bg btn-icon-text waves-effect">Staffs <i class="palette-Cyan bg zmdi zmdi-account"></i></a>
		<br />
		<a href="" class="btn palette-Green bg btn-icon-text waves-effect">Finance <i class="zmdi m-l-10 zmdi-money"></i></a>
		<br />
	</div>
</div>
