<div class="ibox">
    <div class="ibox-title">
        <h5>Bank accounts</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {% if bank_accounts %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                {% for bank_account in bank_accounts %}
                    <tr>
                        <td><a href="{% url 'finance:bank_account' pk=bank_account.pk %}">{{bank_account.name}}</a></td>
                        <td><a href="{% url 'finance:bank_account' pk=bank_account.pk %}">{{bank_account.balance}}</a></td>
                        <td>{{bank_account.is_active|yesno:"Yes,No"}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card-padding card-body">
                <p>No bank accounts</p>
            </div>
        {% endif %}
    </div>
</div>