<div class="ibox">
    <div class="ibox-title">
        <h5>Cash accounts</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {% if cash_accounts %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                {% for cash_account in cash_accounts %}
                    <tr>
                        <td><a href="{% url 'finance:cash_account' pk=cash_account.pk %}">{{cash_account.name}}</a></td>
                        <td><a href="{% url 'finance:cash_account' pk=cash_account.pk %}">{{cash_account.balance}}</a></td>
                        <td>{{cash_account.is_active|yesno:"Yes,No"}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card-padding card-body">
                <p>No cash accounts</p>
            </div>
        {% endif %}
    </div>
</div>