<div class="ibox">
    <div class="ibox-title">
        <h5>Deal of the day </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {% if daily_offers %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Offer Percentage</th>
                        <th>Offer Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for daily_offer in daily_offers %}
                <tr>
                    <td><a href="{% url 'offers:deal_of_the_day' pk=daily_offer.pk %}" class="client-link">{{daily_offer.product}}</a></td>
                    <td>{{daily_offer.offer_percentage}}</td>
                    <td>{{daily_offer.offer_price}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card-padding card-body">
                <p>No deals in today.</p>
            </div>
        {% endif %}
    </div>
</div>