<div class="ibox">
    <div class="ibox-title">
        <h5>Product special prices</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {% if special_prices %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Offer Percentage</th>
                        <th>Offer Price</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for special_price in special_prices %}
                <tr>
                    <td><a href="{% url 'offers:deal_of_the_day' pk=special_price.pk %}" class="client-link">{{special_price.product}}</a></td>
                    <td>{{special_price.offer_percentage}}</td>
                    <td>{{special_price.offer_price}}</td>
                    <td>{{special_price.start_date}}</td>
                    <td>{{special_price.end_date}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card-padding card-body">
                <p>No special offers found</p>
            </div>
        {% endif %}
    </div>
</div>