{% load static %}
<div class="ibox">
    <div class="ibox-title">
        <h5>Recent Products </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {% if recent_products %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><strong>Category</strong></td>
                        <td><strong>Sub Category</strong></td>
                        <td><strong>Brand</strong></td>
                    </tr>
                </thead>
                {% for product in recent_products %}
                <tbody>
                <tr>
                    <td><a href="{% url 'products:product' pk=product.pk %}">{{product.name}}</a></td>
                    <td> {{product.category|default:"-"}}</td>
                    <td> {{product.sub_category|default:"-"}}</td>
                    <td> {{product.brand|default:"-"}}</td>
                </tr>
                </tbody>
                 {% endfor %}
            </table>
           
        {% else %}
            <div class="card-padding card-body">
                <p>No products found</p>
            </div>
        {% endif %}
         </div>
    </div>
</div>