<div class="ibox">
    <div class="ibox-title">
        <h5>Recent Bookings</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {% if orders %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Payment Method</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td><a  href="{% url 'sales:order' pk=order.pk %}">{{order.order_id}}</a></td>
                        <td> {{order.billing_address.name}}</td>
                        <td>{{order.billing_address}}</td>
                        <td>{{order.get_payment_method_display}}</td>
                        <td><span class="label {% if order.order_status == 'shipped' %}label-success{% elif order.order_status == 'pending' %}label-warning{% elif order.order_status == 'cancelled' %}label-danger{% elif order.order_status == 'delivered' %}label-primary{% endif %}">{{order.get_order_status_display}}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card-padding card-body">
                <p>No Orders found</p>
            </div>
        {% endif %}
    </div>
</div>