{% load static %}
<div class="ibox">
    <div class="ibox-title">
        <h5>Recent Suppliers </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
         {% if recent_suppliers %}
            <div class="clients-list">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#"><i class="fa fa-user"></i> Basic</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    {% for supplier in recent_suppliers %}
                                    <tbody>
                                    <tr>
                                        <td><a data-toggle="tab" href="#">{{supplier.name}}</a></td>
                                        <td> {{supplier.address}}</td>
                                        <td> {{supplier.phone}}</td>
                                        <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                        <td> {{supplier.email}}</td>
                                    </tr>
                                    </tbody>
                                     {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card-padding card-body">
                <p>No suppliers found</p>
            </div>
        {% endif %}
    </div>
</div>