{% load static %}
<div class="ibox">
    <div class="ibox-title">
        <h5>Recent Suppliers </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="">Config option 1</a>
                </li>
                <li><a href="">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {% if recent_suppliers %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                {% for supplier in recent_suppliers %}
                <tbody>
                <tr>
                    <td><a data-toggle="tab" href="{% url 'suppliers:supplier' pk=supplier.pk %}" class="client-link">{{supplier.name}}</a></td>
                    <td> {{supplier.address}}</td>
                    <td> {{supplier.phone}}</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> {{supplier.email}}</td>
                </tr>
                </tbody>
                 {% endfor %}
            </table>
           
        {% else %}
            <div class="card-padding card-body">
                <p>No customers found</p>
            </div>
        {% endif %}
         </div>
    </div>
</div>