{% load static %}
<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Monthly</span>
                <h5>Income</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="total_income">0.00</h1>
                <small>Total income</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Monthly</span>
                <h5>Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="new_orders_count"><a href="">0</a></h1>
                <small>New orders</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Monthly</span>
                <h5>Pending Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="pending_orders"><a href="">0</a></h1>
                <small>Pending orders</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Monthly</span>
                <h5>Cancelled Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="cancelled_orders"><a href="">0</a></h1>
                <small>Cancelled orders</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Monthly</span>
                <h5>Delivered Orders</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="delivered_orders"><a href="">0</a></h1>
                <small>Delivered orders</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Monthly</span>
                <h5>Supplier Payments</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="supplier_payment_value">0.00</h1>
                <small>Supplier Payments</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Monthly</span>
                <h5>Products Added</h5>
                
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="product_added_count"><a href="">0</a></h1>
                <small>Products Added</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Monthly</span>
                <h5>New Customers</h5>

            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="this_period_customers_count">0</h1>
                <small>New Customers</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
            <span class="label label-danger pull-right">Yearly {% now 'Y' %}</span>
                <h5>Transactions</h5>
            </div>
            <div class="card-body">
                <canvas id="financeReport" width="100%" height="50%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">    
        <div class="ibox float-e-margins">
            <div class="ibox-title">
            <span class="label label-danger pull-right">Yearly {% now 'Y' %}</span>
                <h5>Orders</h5>
            </div>
            <div class="card-body">
                <canvas id="orderReport" width="100%" height="50%"></canvas>
            </div>
        </div>
    </div>
</div>