<!DOCTYPE html>
<html>
    <head>
    {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{app_title}} | {{title}}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/md-skin.css' %}" rel="stylesheet">
        <link href="{% static 'css/skin-1.css' %}" rel="stylesheet">
        <link href="{% static 'css/skin-2.css' %}" rel="stylesheet">
        <link href="{% static 'css/skin-yellow.css' %}" rel="stylesheet">

        {% if is_need_select_picker %}
        <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_datetime_picker %}
        <link href="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        {% endif %}

        <!-- {% if is_need_datetime_picker %}
        <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
        {% endif %} -->

        {% if is_need_popup_box %}
        <!-- Sweet Alert -->
        <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_checkbox %}
        <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_file_input %}
            <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">
        {% endif %}

        {% if is_need_slider %}
            <!-- slick carousel-->
            <link href="{% static 'css/plugins/slick/slick.css' %}" rel="stylesheet">
            <link href="{% static 'css/plugins/slick/slick-theme.css' %}" rel="stylesheet">
        {% endif %}
    </head>

    <body class="md-skin">

        <div id="wrapper">

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                                        <img alt="image" class="img-square" width="160" height="100" src="{% static 'img/logo.png' %}" />
                                         </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{user.username}}</strong>
                                         </span> <span class="text-muted text-xs block">{{user.email}} <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                AB
                            </div>
                        </li>

                        {% include "includes/menu.html" %}

                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="q" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome {{user.username}}</span>
                        </li>

                        {% include "includes/notifications.html"  %}

                        <li>
                            <a href="{% url 'auth_logout' %}">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

            {% block content %} 
                <div class="wrapper wrapper-content animated fadeInRight">
                    {% if current_role == "superadmin" %}
                    {% include 'includes/dashboard/reports.html' %}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-12">
                            {% include 'includes/dashboard/recent_orders.html' %}
                        </div>
                        {% if user in super_users %}
                        <div class="col-lg-6">
                            {% include 'includes/dashboard/recent_suppliers.html' %} 
                        </div>
                        {% endif %}
                        
                    </div>
                    </div>
                </div>
            {% endblock %}

            {% block filter_box %} {% endblock %}

            </div>
        </div>

        {% include 'includes/extra/js.html' %}

        {% block static %}
            {% if current_role == "superadmin" %}
                <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>
                <script>
                    $(document).ready(function(){
                        Report("monthly");
                        


                        function Report(period){
                            var url = "{% url 'report' %}?period="+period;
                            $.ajax({
                                type : "GET",
                                url : url,
                                dataType : 'json',
                                success : function(data) {
                                    var status = data['status'];
                                    var product_added_count = data['product_added_count'];
                                    var supplier_payment_value = data['supplier_payment_value'];
                                    var new_orders_count = data['new_orders_count'];
                                    var expense_amounts = data['expense_amounts'];
                                    var income_amounts = data['income_amounts'];
                                    var order_counts = data['order_counts'];
                                    var pending_orders = data['pending_orders'];
                                    var delivered_orders = data['delivered_orders'];
                                    var cancelled_orders = data['cancelled_orders'];
                                    var this_period_customers_count = data['this_period_customers_count'];
                                    var total_income = data['total_income'];  
                                    $('#total_income').addClass('animated flipInX').html(total_income);
                                    $('#new_orders_count').addClass('animated flipInY').find('a').html(new_orders_count);
                                    $('#supplier_payment_value').addClass('animated rubberBand').html(supplier_payment_value);
                                    $('#product_added_count').addClass('animated rotateInDownLeft').find('a').html(product_added_count);
                                    $('#cancelled_orders').addClass('animated rotateInDownLeft').find('a').html(cancelled_orders);
                                    $('#delivered_orders').addClass('animated rotateInDownLeft').find('a').html(delivered_orders);
                                    $('#pending_orders').addClass('animated rotateInDownLeft').find('a').html(pending_orders);
                                    $('#this_period_customers_count').addClass('animated rotateInDownLeft').html(this_period_customers_count);

                                    var ctx = document.getElementById("financeReport");
                                    Chart.defaults.global.animation.easing = 'easeInQuad';
                                    Chart.defaults.global.animation.duration = 1500;
                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul",'Aug',"Sep","Oct",'Nov',"Dec"],
                                            datasets: [{
                                                label: '# Income',
                                                data: income_amounts,
                                                backgroundColor: ["#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00"],
                                                borderColor: ["#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00","#00ff00"],
                                                borderWidth: 1
                                            },
                                            {
                                                label: '# Expense',
                                                data: expense_amounts,
                                                backgroundColor: ["#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384"],
                                                borderColor: ["#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384","#FF6384"],
                                                borderWidth: 1
                                            }
                                            ]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero:true
                                                    }
                                                }]
                                            }
                                        }
                                    });

                                    var ctx = document.getElementById("orderReport");
                                    Chart.defaults.global.animation.easing = 'easeInQuad';
                                    Chart.defaults.global.animation.duration = 1500;
                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul",'Aug',"Sep","Oct",'Nov',"Dec"],
                                            datasets: [{
                                                label: '# ORDERS',
                                                data: order_counts,
                                                backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                                                borderColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                                                borderWidth: 1
                                            },
                                            ]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero:true
                                                    }
                                                }]
                                            }
                                        }
                                    });

                                },
                                error : function(data){
                                    console.log("Report not loaded");
                                }
                            }); 
                        }
                    });
                </script>
            {% endif %}
        {% endblock %}
    </body>

</html>
