{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="row wrapper border-bottom white-bg p-h-xs">
        <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-7">
                <h3>{{title}}</h3>
            </div>
            <div class="col-lg-5">
                <ul class="list-unstyled list-inline text-right m-r-md m-b-none m-t-sm">
                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="List"  href="{% url 'auditoriums:auditoriums' %}">
                            <i class="fa fa-list text-navy"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <form class="ajax reset {% if redirect %}redirect{% endif %} form" method="post" action="{{url}}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h4>Basic Details</h4>
                        </div>
                        <div class="ibox-content p-md">
                            <div class="form-group">
                                <label for="{{ form.auditorium.id_for_label }}" class="">
                                    {{ form.auditorium.label }}
                                    {% if form.auditorium.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.auditorium.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.auditorium.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.auditorium }}
                                
                                {% if form.auditorium.errors %}
                                    <label class="error">{{ form.auditorium.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.client_name.id_for_label }}" class="">
                                    {{ form.client_name.label }}
                                    {% if form.client_name.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.client_name.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.client_name.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.client_name }}
                                
                                {% if form.client_name.errors %}
                                    <label class="error">{{ form.client_name.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.client_address.id_for_label }}">
                                    {{ form.client_address.label }}
                                    {% if form.client_address.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.client_address.help_text %}
                                        <span data-original-client_address="Field Info" client_address="" data-content="{{ form.client_address.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.client_address }}
                                
                                {% if form.client_address.errors %}
                                    <label class="error">{{ form.client_address.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.from_date.id_for_label }}">
                                    {{ form.from_date.label }}
                                    {% if form.from_date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.from_date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.from_date.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.from_date }}
                                
                                {% if form.from_date.errors %}
                                    <label class="error">{{ form.from_date.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.to_date.id_for_label }}" class="">
                                    {{ form.to_date.label }}
                                    {% if form.to_date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.to_date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.to_date.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.to_date }}
                                
                                {% if form.to_date.errors %}
                                    <label class="error">{{ form.to_date.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.city.id_for_label }}">
                                    {{ form.city.label }}
                                    {% if form.city.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.city.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.city.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.city }}
                                
                                {% if form.city.errors %}
                                    <label class="error">{{ form.city.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.zipcode.id_for_label }}">
                                    {{ form.zipcode.label }}
                                    {% if form.zipcode.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.zipcode.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.zipcode.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.zipcode }}
                                
                                {% if form.zipcode.errors %}
                                    <label class="error">{{ form.zipcode.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">
                                    {{ form.email.label }}
                                    {% if form.email.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.email.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.email.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.email }}
                                
                                {% if form.email.errors %}
                                    <label class="error">{{ form.email.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.phone.id_for_label }}">
                                    {{ form.phone.label }}
                                    {% if form.phone.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.phone.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.phone.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.phone }}
                                
                                {% if form.phone.errors %}
                                    <label class="error">{{ form.phone.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>

            <div class="m-b-md">
                <button class="btn btn-sm btn-primary" type="submit"><strong>Submit</strong></button>
            </div>
        </form>
    </div>

{% endblock %}
{% block static %}
{{form.media}}
{% endblock %}
