{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load main_template_tags %}
{% load tz %}
{% block content %}
    <div>
        <div class="row wrapper border-bottom white-bg p-h-xs">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <h3>{{title}}</h3>
                    </div>
                    
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-7">
                                <form action="" class="form-inline">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search" class="input-sm form-control" name="q"> 
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>   
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
            {% if instances %}
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Duration</th>
                                        <th>Pincode</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Status</th>
                                        <th class="text-right three">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% load el_pagination_tags %}
                                {% paginate 8 instances %}
                                {% for instance in instances %}
                                    <tr>
                                        <td>{{instance.auto_id}}</td>
                                        <td>{{instance.client_name}}</td>
                                        <td>{{instance.client_address}}</td>
                                        <td>{{instance.from_date|date:"d/m/Y"}} - {{instance.to_date|date:"d/m/Y"}}</td>
                                        <td>{{instance.zipcode}}</td>
                                        <td>{{instance.email}}</td>
                                        <td>{{instance.phone}}</td>
                                        
                                        <td style="{% if instance.status == 'booked' %}color:green{% elif instance.status == 'cancelled' %}color:red{% endif %}">{{instance.get_status_display}}</td>
                                        
                                        <td class="text-right">
                                            <a data-id="{{instance.pk}}" href="{% url 'reservations:delete_reservation' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove run-function-after btn btn-white" data-function="change_after_delete"><i class="fa fa-trash text-navy"></i></a>
                                            {% if instance.status == 'booked' %}
                                            <a data-id="{{instance.pk}}" href="{% url 'reservations:cancel_reservation' pk=instance.pk %}" data-text="{{confirm_cancel_message}}" data-title="Are you sure?" class="action-button run-function-after btn btn-white" data-function="change_after_delete"><i class="fa fa-close text-navy"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div> 
                <!--pagination -->
                <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                    {% get_pages %}
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <div class="pagination">
                                {% show_pages %}
                            </div>
                        </div>
                        <div class="col-sm-6 infoBar text-right m-t-md">
                            <div class="infos">
                                Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                    </div>
                </div>   
                <!--pagination-->
                {% else %}
                    {% include 'includes/not_found.html' %}
                {% endif %}   
            </div><!-- div.col-lg-12 -->

        </div><!-- div.row -->
    </div> <!-- div.wrapper -->
{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="">
        <div class="ibox">
            <div class="ibox-header p-xs">
                <h4 style="display: inline-block;">Filter <small></small></h4>
                <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="fa fa-arrow-circle-o-left"></i> Back</span>
            </div>
            
            <div class="ibox-content">
                <div class="form-group">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>
                
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}


{% block static %}
    {% load static %}
{% endblock %}
