{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="row wrapper border-bottom white-bg p-h-xs">
        <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-7">
                <h3>{{title}}</h3>
            </div>
            <div class="col-lg-5">
                <ul class="list-unstyled list-inline text-right m-r-md m-b-none m-t-sm">
                    
                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="Create Supplier" href="{% url 'suppliers:create' %}">
                            <i class="fa fa-plus text-navy"></i>
                        </a>
                    </li>

                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="View supplier" href="{% url 'suppliers:supplier' pk=pk %}">
                            <i class="fa fa-eye text-navy"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <form class="ajax reset {% if redirect %}redirect{% endif %} form" method="post" action="{{url}}">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h4>Manage Permissions</h4>
                        </div>
                        <div class="ibox-content p-md">
							
							<div class="row m-b-md">
                                <div class="form-group m-b-md col-lg-12">
                                    <div class="check_all_box">
                                        <div class="head">
                                            <input type="checkbox" class="i-checks list1" name="check_all" value="{{city.pk}}"><label for="#" class="m-l-sm">Manage general permissions</label>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            {% for perm in general_permissions %}
                                            <div class="toggle-switch m-b-20 list2 col-lg-3 col-sm-6 m-b-md">
                                                <input type="checkbox" class="i-checks" id="id_{{perm.pk}}" name="permission" {% if pin in active_permissions %}checked="checked"{% endif %} value="{{perm.pk}}" />
                                                <label for="id_{{perm.pk}}" class="m-l-sm">
                                                    <span>{{perm.name}}</span>
                                                </label>                                
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-b-md">
                                <div class="form-group m-b-md col-lg-12">
                                    <div class="check_all_box">
                                        <div class="head">
                                            <input type="checkbox" class="i-checks list1" name="check_all" value="{{city.pk}}"><label for="#" class="m-l-sm">Manage sales</label>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            {% for perm in sales_permissions %}
                                            <div class="toggle-switch m-b-20 list2 col-lg-3 col-sm-6 m-b-md">
                                                <input type="checkbox" class="i-checks" id="id_{{perm.pk}}" name="permission" {% if pin in active_permissions %}checked="checked"{% endif %} value="{{perm.pk}}" />
                                                <label for="id_{{perm.pk}}" class="m-l-sm">
                                                    <span>{{perm.name}}</span>
                                                </label>                                
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-b-md">
                                <div class="form-group m-b-md col-lg-12">
                                    <div class="check_all_box">
                                        <div class="head">
                                            <input type="checkbox" class="i-checks list1" name="check_all" value="{{city.pk}}"><label for="#" class="m-l-sm">Manage product</label>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            {% for perm in products_permissions %}
                                            <div class="toggle-switch m-b-20 list2 col-lg-3 col-sm-6 m-b-md">
                                                <input type="checkbox" class="i-checks" id="id_{{perm.pk}}" name="permission" {% if pin in active_permissions %}checked="checked"{% endif %} value="{{perm.pk}}" />
                                                <label for="id_{{perm.pk}}" class="m-l-sm">
                                                    <span>{{perm.name}}</span>
                                                </label>                                
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-b-md">
                                <div class="form-group m-b-md col-lg-12">
                                    <div class="check_all_box">
                                        <div class="head">
                                            <input type="checkbox" class="i-checks list1" name="check_all" value="{{city.pk}}"><label for="#" class="m-l-sm">Manage users</label>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            {% for perm in users_permissions %}
                                            <div class="toggle-switch m-b-20 list2 col-lg-3 col-sm-6 m-b-md">
                                                <input type="checkbox" class="i-checks" id="id_{{perm.pk}}" name="permission" {% if pin in active_permissions %}checked="checked"{% endif %} value="{{perm.pk}}" />
                                                <label for="id_{{perm.pk}}" class="m-l-sm">
                                                    <span>{{perm.name}}</span>
                                                </label>                                
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-b-md">
                                <div class="form-group m-b-md col-lg-12">
                                    <div class="check_all_box">
                                        <div class="head">
                                            <input type="checkbox" class="i-checks list1" name="check_all" value="{{city.pk}}"><label for="#" class="m-l-sm">Manage customers</label>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            {% for perm in customers_permissions %}
                                            <div class="toggle-switch m-b-20 list2 col-lg-3 col-sm-6 m-b-md">
                                                <input type="checkbox" class="i-checks" id="id_{{perm.pk}}" name="permission" {% if pin in active_permissions %}checked="checked"{% endif %} value="{{perm.pk}}" />
                                                <label for="id_{{perm.pk}}" class="m-l-sm">
                                                    <span>{{perm.name}}</span>
                                                </label>                                
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-b-md">
                                <div class="form-group m-b-md col-lg-12">
                                    <div class="check_all_box">
                                        <div class="head">
                                            <input type="checkbox" class="i-checks list1" name="check_all" value="{{city.pk}}"><label for="#" class="m-l-sm">Manage suppliers</label>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            {% for perm in suppliers_permissions %}
                                            <div class="toggle-switch m-b-20 list2 col-lg-3 col-sm-6 m-b-md">
                                                <input type="checkbox" class="i-checks" id="id_{{perm.pk}}" name="permission" {% if pin in active_permissions %}checked="checked"{% endif %} value="{{perm.pk}}" />
                                                <label for="id_{{perm.pk}}" class="m-l-sm">
                                                    <span>{{perm.name}}</span>
                                                </label>                                
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="m-b-md">
                <button class="btn btn-sm btn-primary" type="submit"><strong>Submit</strong></button>
            </div>
        </form>
    </div>
{% endblock %}

{% block static %}
{% load static %}
    
    <script>
        $(document).ready(function(){
            {% for perm in active_permissions %} 
                $('#id_{{perm.pk}}').iCheck('check')
            {% endfor %} 
        });
    </script>
        
    
{% endblock %}
