{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="row wrapper border-bottom white-bg p-h-xs">
        <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-7">
                <h3>{{title}}</h3>
            </div>
            <div class="col-lg-5">
                <ul class="list-unstyled list-inline text-right m-r-md m-b-none m-t-sm">
                    
                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="Create Partner" href="{% url 'partners:create_partner' %}">
                            <i class="fa fa-plus text-navy"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <form class="ajax reset {% if redirect %}redirect{% endif %} form" method="post" action="{{url}}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h4>Basic Details</h4>
                        </div>
                        <div class="ibox-content p-md">
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}" class="">
                                    {{ form.username.label }}
                                    {% if form.username.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.username.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.username.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.username }}
                                
                                {% if form.username.errors %}
                                    <label class="error">{{ form.username.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">
                                    {{ form.email.label }}
                                    {% if form.email.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.email.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.email.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.email }}
                                
                                {% if form.email.errors %}
                                    <label class="error">{{ form.email.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}">
                                    {{ form.password1.label }}
                                    {% if form.password1.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.password1.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.password1.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.password1 }}
                                
                                {% if form.password1.errors %}
                                    <label class="error">{{ form.password1.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}">
                                    {{ form.password2.label }}
                                    {% if form.password2.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.password2.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.password2.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.password2 }}
                                
                                {% if form.password2.errors %}
                                    <label class="error">{{ form.password2.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="m-b-md">
                <button class="btn btn-sm btn-primary" type="submit"><strong>Submit</strong></button>
            </div>
        </form>
    </div>
{% endblock %}
