{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load tz %}

{% block content %}
<section id="content">
    <div class="c-header">
        <h2>{{title}}</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">
        <div class="mail-box-header">

            <form method="get" action="{% url 'users:notifications' %}" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="Search...">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <h2>
                Inbox ({{instances.count|default:0}})
            </h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <div class="btn-group pull-right">
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                </div>
                
                <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox" href="{% url 'users:notifications' %}">
                    <i class="fa fa-refresh"></i> Refresh
                </a>
                
                <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read" href="{% url 'users:read_selected_notifications' %}" data-text="{{confirm_read_selected_message}}" data-title="Are you sure?" class="action-button selected-items-button">
                    <i class="fa fa-eye"></i>
                </a>
                
                <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash" data-text="{{confirm_delete_selected_message}}" data-title="Are you sure?" class="action-button reload selected-items-button">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
        </div>
            <div class="mail-box">
            {% if instances %}
            <table class="table table-hover table-mail">
                <tbody>
                    {% for instance in instances %}
                        {% if instance.subject.code == "cash_on_delivary_order" %}
                            <tr class="{% if instance.is_read %}read{% else %}unread{% endif %}">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks" value="{{instance.pk}}">
                                </td>
                                <td class="mail-subject"><a href="{% url 'sales:order' pk=instance.order.pk %}">New Cash on delivery order ({{instance.order.order_id}}) placed.</a></td>
                                <td class="text-right mail-date">{{instance.time|timezone:user_time_zone|naturaltime}}</td>
                            </tr>
                        {% elif instance.subject.code == "order_status_updated" %}
                            <tr class="{% if instance.is_read %}read{% else %}unread{% endif %}">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks" value="{{instance.pk}}">
                                </td>
                                <td class="mail-subject"><a href="{% url 'sales:order' pk=instance.order.pk %}">Order({{instance.order.order_id}}) status updated to {{instance.order_status}} </a></td>
                                <td class="text-right mail-date">{{instance.time|timezone:user_time_zone|naturaltime}}</td>
                            </tr>
                        {% elif instance.subject.code == "product_unverified" %}
                            <tr class="{% if instance.is_read %}read{% else %}unread{% endif %}">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks" value="{{instance.pk}}">
                                </td>
                                <td class="mail-subject"><a href="{% url 'products:product' pk=instance.product.pk %}">Product {{instance.product.name}} Unverified.</a></td>
                                <td class="text-right mail-date">{{instance.time|timezone:user_time_zone|naturaltime}}</td>
                            </tr>
                        {% elif instance.subject.code == "product_verified" %}
                            <tr class="{% if instance.is_read %}read{% else %}unread{% endif %}">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks" value="{{instance.pk}}">
                                </td>
                                <td class="mail-subject"><a href="{% url 'products:product' pk=instance.product.pk %}">Product {{instance.product.name}} Verified.</a></td>
                                <td class="text-right mail-date">{{instance.time|timezone:user_time_zone|naturaltime}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}