{% extends "base.html" %}
{% load i18n %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<section id="content" class="list">
	<section class="head">
		<h2>{{title}}</h2>
	</section>
	<section class="innerBox">
		{% if instances %}
			<section class="widget one_by_one">
				<ul class="grid details three thumb_enabled">
					{% load static %}
					{% load endless %}
					{% paginate instances %}
					{% for instance in instances %}
					<li>
						<div class="main round_enabled">
							<div class="photo">
								{% if instance.photo %}
									<img class="photo" src="images/photo.jpg" alt="{{instance.name}}" />
								{% else %}
									<img class="photo" src="{% static 'images/no-image-large.jpg' %}" alt="{{instance.name}}" />
								{% endif %}
								<span class="overlay"></span>
							</div>
							<span class="round bg-one">{{instance.grade|default:"-"}}</span>
							<div class="top">
								<div class="menuContainer left">
									<span class="icon icon-menu menu_icon"></span>
									<div class="items">
										<a href="{% url 'staffs:view' pk=instance.pk %}" class="icon bg-one icon-eye"> </a>
										<a href="" class="icon bg-three icon-pencil"> </a>
										<a href="javascript:void(0)" data-title="Are you sure?" data-message="This action will delete seleted staff." class="icon doit with_alert bg-four icon-trash"> </a>
									</div>
								</div>
								<a href="staff.html" class="icon icon-eye right"></a>
								<br class="clear" />
							</div>
							<div class="middle">
								<h3><a href="{% url 'staffs:view' pk=instance.pk %}">{{instance.card_id|default:"-"}}</a></h3>
								<h4><a href="{% url 'staffs:view' pk=instance.pk %}">{{instance.name|default:"-"}}</a></h4>
							</div>
						</div>
						<div class="content">
							<p><span class="label"><span class="icon icon-mail"></span></span> <b>{{instance.email|default:"-"}}</b><br class="clear" /></p>
							<p class="mbn bdbn pbn"><span class="label"><span class="icon icon-phone"></span></span><b>{{instance.phone|default:"-"}}</b><br class="clear" /></p>
						</div>
						<div class="status">
							<h6>{{instance.designation.name|default:"-"}}</h6>
						</div>
					</li>
					{% endfor %}
				</ul>
				<br class="clear" />
			<section class="widget one_by_one navigation mbn">		
				{% get_pages %}
				<h4>Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span></h4>
				<div class="pagination">
					{% show_pages %}
				</div>
				<br class="clear">
			</section>
		{% else %}
			{% include 'includes/not_found.html' %}
		{% endif %}	
	</section><!--(.innerBox)-->				
</section>
{% endblock %}

{% block right_menu %}
	{% include 'staffs/includes/staffs_right_box_one.html' %}
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}