{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div>
        <div class="row wrapper border-bottom white-bg p-h-xs">
        <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-7">
                <h3>{{title}}</h3>
            </div>
            <div class="col-lg-5">
                <ul class="list-unstyled list-inline text-right m-r-md m-b-none m-t-sm">

                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="List"  href="{% url 'auditoriums:auditoriums' %}">
                            <i class="fa fa-list text-navy"></i>
                        </a>
                    </li>

                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="Edit Supplier" href="{% url 'auditoriums:edit_auditorium' pk=instance.pk %}">
                            <i class="fa fa-edit text-navy"></i>
                        </a>
                    </li>
                    
                    <li class="no-margins">
                        <a data-id="{{instance.pk}}" href="{% url 'auditoriums:delete_auditorium' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?"  class="action-button redirect">
                        <i class="fa fa-trash text-navy"></i>
                        </a>
                    </li>
                    
                    {% if not instance.user %}
                        <li class="no-margins">
                            <a  style="font-size:15px;" class="p-xxs" title="Create user" href="">
                                <i class="fa fa-plus-square-o text-navy"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="no-margins">
                            <a  style="font-size:15px;" class="p-xxs" title="Change permissions" href="">
                                <i class="fa fa-lock text-navy"></i>
                            </a>
                        </li>
                    {% endif %}

                    <li class="no-margins">
                        <a  style="font-size:15px;" class="p-xxs" title="Create Supplier" href="{% url 'auditoriums:create_auditorium' %}">
                            <i class="fa fa-plus text-navy"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="wrapper wrapper-content row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Basic Details</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        {% if instance.photo %}
                            <img alt="image" class="img-responsive" src="{{instance.photo.url}}">
                        {% else %}
                            <img alt="image" class="img-responsive" src="{% static 'img/profile_big.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>{{instance.name}}</strong></h4>
                        <p><i class="fa fa-map-marker"></i> {{instance.address}}/{{instance.location}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Address Details</h5>
                </div>
                <div>
                    
                    <div class="ibox-content profile-content">
                        <div class="row m-t-lg">
                            <div class="col-md-12">
                                <span class="line"></span>
                                <h3><strong>Phone 1: </strong> {{instance.contact1}}</h3>
                            </div>
                            <div class="col-md-12">
                                <h3><strong>phone 2: </strong> {{instance.contact2}}</h3>
                            </div>
                            <div class="col-md-12">
                                <span class="line"></span>
                                <h3><strong>Email: </strong> {{instance.email}}</h3>
                            </div>
                            <div class="col-md-12">
                                <span class="line"></span>
                                <h3><strong>City: </strong> {{instance.city}}</h3>
                            </div>
                            <div class="col-md-12">
                                <span class="line"></span>
                                <h3><strong>District: </strong> {{instance.disicttr}}</h3>
                            </div>
                            <div class="col-md-12">
                                <span class="line"></span>
                                <h3><strong>State: </strong> {{instance.state}}</h3>
                            </div>
                            <div class="col-md-12">
                                <span class="line"></span>
                                <h3><strong>Zipcode: </strong> {{instance.zipcode}}</h3>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}


{% block static %}
    {% load static %}
{% endblock %}
